# Build
build/
cmake-build-*/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.vcxproj*
*.sln
*.filters
*.user

# Output
deploy/
dist/
*.exe
!libs/openssl/*.exe
*.dll
!libs/openssl/*.dll
!libs/openssl/*.dat
*.pdb
*.idb
*.ilk
*.obj
*.o
*.so
*.dylib
*.a
.lib
!libs/openssl/*.lib
!libs/**
!libs/openssl/recipies/**


# Qt
moc_*.cpp
ui_*.h
qrc_*.cpp
*.qtw

# IDE
.vs/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Python helper
resources/gen_icons.py
resources/gen_ico.py
resources/config.json



