[Desktop Entry]
Type=Application
Name=GhostWire Desktop
Comment=Telegram with anti-DPI protection
Exec=/opt/GhostWireDesktop/bin/GhostWireDesktop
Icon=ghostwire
Terminal=false
Categories=Network;Proxy;
