[Desktop Entry]
Type=Application
Name=GhostWire Desktop
Comment=Telegram with anti-DPI protection
Exec=env LD_LIBRARY_PATH=/opt/GhostWireDesktop/bin:/opt/GhostWireDesktop/lib /opt/GhostWireDesktop/bin/GhostWireDesktop
Icon=ghostwire
Terminal=false
Categories=Network;Proxy;
